.about {
    height: 100%;
    width: 100%;
}

/* body{
    background: url('red_backg.jpg');
    background-size: 100%;
    background-size: cover;
    
} */

:local(.o-nas) {
	text-align: right;
}

.justify-content-md-center{
    margin-top: 50px;
}

.card-body{
    border: 3px solid #260957;
}