.catalog_page {
    height: auto;
    width: 100%;
    position: relative;
    padding-top: 50px;
}

.inp_row {
    /* background-color: antiquewhite; */
}

.car_row {
    padding: 30px;
    border-radius: .25rem!important;
    border-color: #260957;
}

#subaru_text {
    z-index: 1;
    background-color: rgba(31, 123, 33, 0.5);
    position: relative;
    top: 230px;
    left: 22px;
    width: 300px;
    height: 40px;
    color: white;
    font-size: x-large;

}
.car_cols {
    background-color: white;
    padding: 30px;
    margin: 0px;
    
    height: auto;
}